.contact {
    height: 100%;
    padding-top: 40vh;
    // padding-bottom: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.7),
        rgba($primary-color, 0.5)
        ),
    url('../img/model1.jpg') center;
    background-size: cover;

   h2 {
       font-size: 3rem;
       margin-bottom: 3rem;
   }

   &__list {
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 2rem;
       font-size: 1.5rem;
       margin: 0 4rem;
       padding: 0 4rem;
   }

   .social-icons {
       position: initial;
       margin-top: 2rem;
   }
}